@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F7ECD6;
}

::-webkit-scrollbar-thumb {
  background: #a6c688;
}

::-webkit-scrollbar-thumb:hover {
  background: #a6c688;
}
.fade-in{
  animation: fade-in 1s ease-in-out forwards;
}
@keyframes fade-in{
  0%{
    opacity:0;
  }
  80%{
    opacity: 0.9;
  }
  100%{
    opacity: 1;
  }
}