@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F7ECD6;
}

::-webkit-scrollbar-thumb {
  background: #a6c688;
}

::-webkit-scrollbar-thumb:hover {
  background: #a6c688;
}